# Input and Output

The print() function allows you to present output in different formats, while the input() function facilitates user interaction by collecting input while the program is running.

## Output: print

This function allows us to display text, variables, and expressions on the console.

In [1]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

Inserting variable values into a string in Python can be done using various methods. 

One approach is to directly concatenate the variables within the print() statement.

In [4]:
b = 10

In [5]:
type(b)

int

In [6]:
print("The value stored in variable b is", b)

The value stored in variable b is 10

In [7]:
actor = "Tom Hanks"

In [8]:
print("The actor starring in the movie is", actor)

The actor starring in the movie is Tom Hanks

Print single and multiple variable in Python

In [3]:
book_title = "Pride and Prejudice"
author = "Jane Austen"
print("Title:", book_title, "Author:", author)

Title: Pride and Prejudice Author: Jane Austen

To display text (string), you can use the string formatting mechanism.

In [9]:
print("The main character in Jane Austen's novel is {}".format('Elizabeth Bennet'))

The main character in Jane Austen's novel is Elizabeth Bennet

In [10]:
novel = "Sense and Sensibility"

In [11]:
print("One of Jane Austen's famous novels is {}".format(novel))

One of Jane Austen's famous novels is Sense and Sensibility

In [12]:
location = "Bath"

In [13]:
print("Jane Austen lived in the city of {}".format(location))

Jane Austen lived in the city of Bath

In [14]:
print("The setting of the story is in {}".format('Regency England'))

The setting of the story is in Regency England

### TASK 1

Directly concatenate the variables within the print()

In [15]:
age = 21

In [16]:
print("My age is", age)

My age is 21

In [17]:
name = 'Marry Shelley'

In [18]:
print("My name is", name)

My name is Marry Shelley

Single and multiple variable

In [19]:
movie_title = "Emma"
director = "Autumn de Wilde"

In [20]:
print("Movie Title:", movie_title, "Director:", director)

Movie Title: Emma Director: Autumn de Wilde

String formatting mechanism

In [21]:
book_title = "Mansfield Park"
protagonist = "Fanny Price"

In [22]:
print("The protagonist in the novel '{}' is {}".format(book_title, protagonist))

The protagonist in the novel 'Mansfield Park' is Fanny Price

In [23]:
novel = "Emma"
main_character = "Emma Woodhouse"

In [24]:
print("The main character in Jane Austen's novel '{}' is {}".format(novel, main_character))

The main character in Jane Austen's novel 'Emma' is Emma Woodhouse

In [25]:
location = "Hampshire"
print("The story takes place in {}".format(location))

The story takes place in Hampshire

In [26]:
print("The time period is during the early 19th century")

The time period is during the early 19th century

### Input: input()

To enable user input in your program, utilize the input() function. Within parentheses (), provide the text to be displayed (prompt), and assign a variable preceding the equal sign (=) to store the user's input. By default, the input() function in Python is utilized for accepting user input, capturing it as a string.

Syntax: input(prompt)

In [27]:
input()

Hello!

'Hello!'

In [29]:
color = input("What is yout favorite color? ")

What is yout favorite color? Black and Pink

In [30]:
print("Your favorite color is:", color)

Your favorite color is: Black and Pink

In [31]:
type(color)

str

In [32]:
age = int(input())

25

In [33]:
type(age)

int

In [34]:
age = input()

25

In [35]:
type(age)

str

### TASK 2

Using argument specifiers with the print statement

In [36]:
name = "Emma Watson"

In [37]:
age = 28

In [38]:
height = 163.7

In [39]:
print("Name: %s, Age: %d, Height: %.2f" % (name, age, height))

Name: Emma Watson, Age: 28, Height: 163.70

Getting user input for their name, age, and height

In [41]:
name = input("Enter your name: ")

Enter your name: Harry Potter

In [42]:
age = int(input("Enter yout age: "))

Enter yout age: 29

In [43]:
height = float(input("Enter your height in centimeters: "))

Enter your height in centimeters: 177.5

Printing the user's information using argument specifiers

In [44]:
print("Hello %s, you are %d years old and %.2f centimeters tall." % (name, age, height))

Hello Harry Potter, you are 29 years old and 177.50 centimeters tall.